
<div class="mt-4">
    <form method="POST" action="">
      <div class="form-group">
        <label for="search-input">Search Google or type a URL</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter the text....">
      </div>

       <div class="form-group">
        <label for="gender-input">Search Google or type a URL</label>
        <select name="gender" class="form-control" id="gender-input">
            <option value=""> -- Choose the gender -- </option>
            <option value="">Male</option>
            <option value="">Female</option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>